.video {
  background-color: orange;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;

  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

}

.description {
  width: 68%;
  height: 20%;
  padding: 0px 27px;
}
