.video-return {
  display:flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid black;
  cursor: pointer;
  img {
    margin: 10px;
  }
}

.video-return-title {
  font-size: 16px;
  margin: 10px;
}

.video-return:last-child {
  border-bottom: 0px;
}
